<!DOCTYPE html>
<html>
<head>
  <title>Chart</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <h1>Chart</h1>
  <form action="/quotes" method="post">
    <label for="engine">Engine:</label>
    <input type="text" id="engine" name="engine" required><br><br>

    <label for="market">Market:</label>
    <input type="text" id="market" name="market" required><br><br>

    <label for="board">Board:</label>
    <input type="text" id="board" name="board" required><br><br>

    <label for="seccode">Seccode:</label>
    <input type="text" id="seccode" name="seccode" required><br><br>

    <label for="start">Start:</label>
    <input type="text" id="start" name="start" required><br><br>

    <label for="end">End:</label>
    <input type="text" id="end" name="end" required><br><br>

    <label for="interval">Interval:</label>
    <input type="number" id="interval" name="interval" required><br><br>
    
    <input type="submit" value="Plot">
  </form>

  {{ chart|safe }}

</body>
</html>